body {
    background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.resume {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 30px 30px 80px;
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
    text-align: left;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.details {
    flex: 1;
    min-width: 300px;
}

.details h1 {
    text-align: center;
    font-size: 48px;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    color: #333;
    margin-bottom: 20px;
}

.details p {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 250px;
    margin: 20px;
}

.profile img {
    border-radius: 50%;
    width: 100%;
    max-width: 250px;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.contact {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: flex;
    gap: 20px;
}

.contact img {
    width: 50px;
    height: 50px;
    margin: 0;
}

strong {
    color: #333;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .profile {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .contact {
        flex-direction: row;
        justify-content: center;
    }
}